.faq {
    min-height: 100vh;
    background: $primary-color;

    .heading {
        color: $white-color;
    }
    
    .accordion {
        max-width: 1000px;
        margin: 0 auto;
    }



}
